.form-control-file {
	cursor: pointer;
}

form {
	font-size: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

form hr {
	border-top: 1px solid var(--font-color);
	width: 100%;
}

label {
	font-size: 25px;
	font-weight: 400;
}

.form-content .button {
	background-color: var(--font-color);
	color: var(--highlight-color);
}

.form-group {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 20px;
}

.form-group textarea {
	border-radius: 5px;
	border: 1.5px solid var(--font-color);
	background-color: transparent;
	resize: none;
	color: var(--font-color);
}

.form-group textarea.form-control:focus {
	outline: none !important;
	box-shadow: none;
	border: 1.5px solid var(--font-color);
	background-color: transparent;
	color: var(--font-color);
}

