.wrapper {
	justify-content: flex-start;
}

.tabs {
	display: flex;
	gap: 50px;
}

.tab-link {
	font-size: 18px;
	color: var(--font-color);
	text-decoration: none;
}

.tab-link:hover {
	color: var(--font-color);
	text-decoration: underline;
}

.tab-link.active {
	color: var(--font-color);
	text-decoration: underline;
}

.result {
	padding: 30px 200px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.result .button {
	background-color: var(--font-color);
	color: var(--highlight-color);
	width: 250px;
	font-size: 18px;
	padding: 10px 20px;
}

.result .button:hover {
	color: var(--highlight-color);
}

.resume-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 100px 0px;
}

.cover-letter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 100px 0px;
}

.result-questions {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 100px 0px;
}

.result-questions .question {
	padding: 5px;
}

.result-questions .answer {
	padding: 0px 5px;
	padding-bottom: 20px;
}
